.design{
  display:grid;
  grid-template-columns: 220px 1fr;
}
.tools {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
  padding: 20px;
}
.tools button {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  background-color: RGB(184,178,164);
  color: #35424a;
  border: none;
  cursor: pointer;
}

@media(max-width: 500px){
  .design{
    display:grid;
    grid-template-columns: 1fr;
  }
}


