/* Generelle stilarter */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #f4f4f4;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: RGB(184,178,164);
  color: #35424a;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 20px;
}

.nav {
  display: flex;
}

.nav button {
  background-color: #ffffff;
  color: #35424a;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 18px;
}

.nav button:hover {
  background-color: #2c3e50;
  color: #ffffff;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.search-container button {
  padding: 6px 12px;
  border: none;
  background-color: #35424a;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #2c3e50;
}

.main {
  padding: 20px;
  flex: 1;
  display:flex;
}

section {
  margin-bottom: 40px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
}

.grid-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.sidebar {
  display: none; /* Skjul sidebar som standard */
  position: fixed; /* Fast positionering */
  top: 0; /* Start ved toppen */
  left: 0; /* Start ved venstre */
  width: 200px; /* Bredde på sidebar */
  height: 100%; /* Fyld hele højden */
  background-color: #f4f4f4; /* Baggrundsfarve */
  z-index: 1000; /* Ligger bag menu-toggle */
  transition: transform 0.3s ease; /* Animation ved visning */
}

.content {
  margin-left: 220px;
  padding: 20px;
  flex-grow: 1;
}

.sidebar button {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  background-color: RGB(184,178,164);
  color: #35424a;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #ffffff;
}

/* Vis sidebar, når menu-toggle knappen klikkes */
.sidebar.active {
  display: block;
}

.menu-toggle {
  display: none; /* Skjul knappen som standard */
  width: 40px;
  height: 40px;
  background-color: #35424a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}

footer {
  text-align: center;
  height: 60px;
  padding: 10px 0;
  position: relative;
  background: #35424a;
  color: #ffffff;
  margin-top: auto;
}


  /* Responsiv design til mindre skærme */
  @media (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 5px;
    }

    .logo {
      margin-bottom: 5px;
    }

    .search-container {
      width: 100%;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
    }

    .search-container input {
      flex-grow: 1;
      padding: 6px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 5px;
    }

    .search-container button {
      padding: 6px 10px;
      border: none;
      background-color: #35424a;
      color: #ffffff;
      border-radius: 5px;
      cursor: pointer;
    }

    .nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }

    .nav button {
      flex: 1;
      margin: 2px;
      font-size: 12px;
      padding: 6px;
      min-width: 0;
    }

    .menu-toggle {
      display: block; /* Skjul knappen på skærme større end 600px */
    }

    .sidebar {
      display: none; /* Vis sidebar på større skærme */
    }
  }

